{% extends 'base.html' %}
{% block content %}

<div class="container-fluid row d-flex justify-content-center text-center" style="margin-top: 50px;">

   <div class="row mt-2">

      <div class="col-sm-4">

         <div class="card" style="width: 28rem; margin-bottom: 10px;">

            <div class="card-body">

               <a data-toggle="modal" href="#" class="button" style="text-decoration: none;">

                  <h3 class="card-text text-primary">{{ total_visitors }}</h3>

               </a>

               <a data-toggle="modal" href="#" class="button" style="text-decoration: none;">

                  <h5 class="card-title text-primary">Filter 1</h5>

               </a>

            </div>

         </div>

      </div>

      <div class="col-sm-4">

         <div class="card" style="width: 28rem; margin-bottom: 10px;">

            <div class="card-body">

               <a data-toggle="modal" href="#" class="button" style="text-decoration: none;">

                  <h3 class="card-text text-primary">{{ total_visitors }}</h3>

               </a>

               <a data-toggle="modal" href="#" class="button" style="text-decoration: none;">

                  <h5 class="card-title text-primary">Filter 2</h5>

               </a>

            </div>

         </div>

      </div>

      <div class="col-sm-4">

         <div class="card" style="width: 28rem; margin-bottom: 10px;">

            <div class="card-body">

               <a data-toggle="modal" href="#" class="button" style="text-decoration: none;">

                  <h3 class="card-text text-primary">{{ total_visitors }}</h3>

               </a>

               <a data-toggle="modal" href="#" class="button" style="text-decoration: none;">

                  <h5 class="card-title text-primary">Filter 3</h5>

               </a>

            </div>

         </div>

      </div>

   </div>

   <div class="row mt-2">

      <div class="col-sm-4">

         <div class="card" style="width: 28rem; margin-bottom: 10px;">

            <div class="card-body">

               <a data-toggle="modal" href="#" class="button" style="text-decoration: none;">

                  <h3 class="card-text text-primary">{{ total_visitors }}</h3>

               </a>

               <a data-toggle="modal" href="#" class="button" style="text-decoration: none;">

                  <h5 class="card-title text-primary">Filter 4</h5>

               </a>

            </div>

         </div>

      </div>

      <div class="col-sm-4">

         <div class="card" style="width: 28rem; margin-bottom: 10px;">

            <div class="card-body">

               <a data-toggle="modal" href="#" class="button" style="text-decoration: none;">

                  <h3 class="card-text text-primary">{{ total_visitors }}</h3>

               </a>

               <a data-toggle="modal" href="#" class="button" style="text-decoration: none;">

                  <h5 class="card-title text-primary">Filter 5</h5>

               </a>

            </div>

         </div>

      </div>

      <div class="col-sm-4">

         <div class="card" style="width: 28rem; margin-bottom: 10px;">

            <div class="card-body">

               <a data-toggle="modal" href="#" class="button" style="text-decoration: none;">

                  <h3 class="card-text text-primary">{{ total_visitors }}</h3>

               </a>

               <a data-toggle="modal" href="#" class="button" style="text-decoration: none;">

                  <h5 class="card-title text-primary">Filter 6</h5>

               </a>

            </div>

         </div>

      </div>

   </div>

   <div class="row mt-2">

      <div class="col-sm-4">

         <div class="card" style="width: 28rem; margin-bottom: 10px;">

            <div class="card-body">

               <a data-toggle="modal" href="#" class="button" style="text-decoration: none;">

                  <h3 class="card-text text-primary">{{ total_visitors }}</h3>

               </a>

               <a data-toggle="modal" href="#" class="button" style="text-decoration: none;">

                  <h5 class="card-title text-primary">Filter 7</h5>

               </a>

            </div>

         </div>

      </div>

      <div class="col-sm-4">

         <div class="card" style="width: 28rem; margin-bottom: 10px;">

            <div class="card-body">

               <a data-toggle="modal" href="#" class="button" style="text-decoration: none;">

                  <h3 class="card-text text-primary">{{ total_visitors }}</h3>

               </a>

               <a data-toggle="modal" href="#" class="button" style="text-decoration: none;">

                  <h5 class="card-title text-primary">Filter 8</h5>

               </a>

            </div>

         </div>

      </div>

      <div class="col-sm-4">

         <div class="card" style="width: 28rem; margin-bottom: 10px;">

            <div class="card-body">

               <a data-toggle="modal" href="#" class="button" style="text-decoration: none;">

                  <h3 class="card-text text-primary">{{ total_visitors }}</h3>

               </a>

               <a data-toggle="modal" href="#" class="button" style="text-decoration: none;">

                  <h5 class="card-title text-primary">Filter 9</h5>

               </a>

            </div>

         </div>

      </div>

   </div>
</div>

<div class="container-fluid" style="margin-top: 20px;">
    <table id="drivers_table" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
    <thead class="thead-dark">
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">DOB</th>
        <th scope="col">Gender</th>
        <th scope="col">Make</th>
        <th scope="col">Model</th>
        <th scope="col">Type</th>
        <th scope="col">Fuel</th>
        <th scope="col">Color</th>
        <th scope="col">Registration</th>
        <th scope="col">Valid licence</th>
        <th scope="col">Points</th>
    </thead>
    <tbody>
        {% for rec in driver_records %}
            <tr>
                <td>{{ rec.owner
                    .first_name }}</td>
                <td>{{ rec.owner.last_name }}</td>
                <td>{{ rec.owner.dob }}</td>
                <td>{{ rec.owner.gender }}</td>
        {% endfor %}
        {% for car in cars %}
                <td>{{ car.make }}</td>
                <td>{{ car.model }}</td>
                <td>{{ car.type }}</td>
                <td>{{ car.fuel_type }}</td>
                <td>{{ car.color }}</td>
                <td>{{ car.registration }}</td>
        {% endfor %}
        {% for driver_record in driver_records %}
                <td>{{ driver_record.valid_driver_licence }}</td>
                <td>{{ driver_record.points }}</td>
        {% endfor %}
            </tr>
    </tbody>
    </table>
</div>
{% endblock %}